In [ ]:
### PLEASE FILL THESE IN

# Student Name:
# Student Email:

# Assignment #3 - Lists and for loops

This assignment is worth 10 points. You will need to fill in your solutions between the comments "### BEGIN SOLUTION" and "### END SOLUTION". The requirements for each problem will be defined in a multi-line string at the top of each function. If your function fails any of the tests, either in this notebook or ones that I define outside of this notebook, the exercise will be marked incorrect.


This is very important: **MAKE SURE YOUR CODE IS AT THE SAME INDENT LEVEL AS THE COMMENTED LINES**. An example looks like this

```
# YES

def example(a):
    ### BEGIN SOLUTION
    my_solution = a + a
    return my_solution
    ### END SOLUTION
```

An incorrect example looks like this. This will be graded as incorrect.

```
# NO

def example(a):
    ### BEGIN SOLUTION
  my_solution = a + a
    return my_solution
    ### END SOLUTION
```


To help with this I suggest you click on the gear logo in the top right and set the following settings...
1. Under editor tab set indent level to 4
2. Enable the "Show line numbers option"

It is also very important that you DO NOT change the names of the functions. They will be graded as wrong if they do not have the same name as given here.

# Exercises Start Here

### Exercise #1

In [ ]:
def exercise_1(my_list):
    """
    Assume `my_list` is a list of all numeric values, `my_list` has at least 2 items
    Return a list
    Goal: Return a list containing the 2 largest values in a
    """
    ### BEGIN SOLUTION
    ### END SOLUTION

In [ ]:
assert exercise_1([1, 2, 3, 4, 5, 6]) == [5, 6] or exercise_1([1, 2, 3, 4, 5, 6]) == [6, 5]
assert exercise_1([1, 1, 1, 1, 1]) == [1, 1]
assert exercise_1([-100, -1000, -10000]) == [-100, -1000] or exercise_1([-100, -1000, -10000]) == [-1000, -100]

### Exercise #2

In [ ]:
def exercise_2(my_list):
    """
    Assume `my_list` is a list of strings.
    Return an int
    Goal: Return the number of strings in `my_list` the begin with the character 'T'
    """
    
    ### BEGIN SOLUTION
    ### END SOLUTION

In [ ]:
assert exercise_2(['a', 'b', 'c']) == 0
assert exercise_2(['Totally', 'Dude']) == 1
assert exercise_2(['Toronto', 'Torino', 'Toledo']) == 3

### Exercise #3

In [ ]:
def exercise_3(my_list):
    """
    Assume `my_list` is a list of lists, the sublists are all lists of ints
    Return a list
    Goal: "flatten" `my_list` from a list of lists in to a SORTED
          list containing all of the elements of the sublists
    """
    ### BEGIN SOLUTION
    ### END SOLUTION

In [ ]:
assert exercise_3([[1, 2, 3], [4, 5, 6]]) == [1, 2, 3, 4, 5, 6]
assert exercise_3([[1, 1, 1, 1, 1]]) == [1, 1, 1, 1, 1]
assert exercise_3([[1], [2], [4], [6, 7]]) == [1, 2, 4, 6, 7]

### Exercise 4

In [ ]:
def exercise_4(my_list):
    """
    Assume `my_list` list of strings
    Return a list
    Goal: Return a list of the unique values in `my_list`; in other words return
          a list with the values of `my_list` without duplicates
    """
    ### BEGIN SOLUTION
    ### END SOLUTION

In [ ]:
return_val = exercise_4(['1', '1', '1', '1'])
assert len(return_val) == 1 and all(item in return_val for item in ['1'])

return_val = exercise_4(['Trump', 'Obama', 'Bush', 'Clinton', 'Bush'])
assert len(return_val) == 4 and all(item in return_val for item in ['Clinton', 'Trump', 'Obama', 'Bush'])

### Exercise 5

In [ ]:
def exercise_5(my_list):
    """
    Assume `my_list` is a list with an even number of elements
    Return a list
    Goal: Add the string 'Hi!' as the middle element of my_list
    
    Hint: If my_list is given with 4 elements return value should have 5 with 'Hi!' between
          the first 2 elements of my_list and the last 2 elements of my_list
    """
    ### BEGIN SOLUTION
    ### END SOLUTION

In [ ]:
assert exercise_5([1, 2, 4, 5]) == [1, 2, 'Hi!', 4, 5]
assert exercise_5([[], []]) == [[], 'Hi!', []]
assert exercise_5(list('abcdef')) == ['a', 'b', 'c', 'Hi!', 'd', 'e', 'f']

### Exercise 6

In [ ]:
def exercise_6(my_list):
    """
    Assume `my_list` is a list strings, bools, or numerics
    Retrun a bool
    Goal: If the first and last element of my_list are the same return True otherwise return False
    """
    
    ### BEGIN SOLUTION
    ### END SOLUTION

In [ ]:
assert exercise_6(['a', 'b', 'a']) == True
assert exercise_6(['a', 'b' 'c']) == False
assert exercise_6(['-1']) == True

### Exercise 7

In [ ]:
def exercise_7(my_list):
    """
    Assume `my_list` is a list of numerics
    Retrun an list of 2 ints
    Goal: Return The index of the 2 largest elements in the list
    """
    
    ### BEGIN SOLUTION
    ### END SOLUTION

In [ ]:
assert exercise_1([1, 2, 3, 4, 5, 6]) == [4, 5] or exercise_1([1, 2, 3, 4, 5, 6]) == [5, 4]
assert exercise_1([-100, -1000, -10000]) == [0, 1] or exercise_1([-100, -1000, -10000]) == [1, 0]